---
language: node_js
dist: trusty
node_js:
  - "6"

sudo: false

cache:
  directories:
    - node_modules

modules:
  chrome: stable
  
env:
  - EMBER_TRY_SCENARIO=default
  - EMBER_TRY_SCENARIO=ember-release
  - EMBER_TRY_SCENARIO=ember-beta
  - EMBER_TRY_SCENARIO=ember-canary

matrix:
  fast_finish: true
  allow_failures:
    - env: EMBER_TRY_SCENARIO=ember-canary

before_install:  
  - "npm config set spin false"
  - "npm install -g npm"

install:
  - npm install -g bower
  - npm install
  - bower install

script:
  - CI=true ember try $EMBER_TRY_SCENARIO test
