<h2 id="title">Welcome to Ember</h2>

{{outlet}}
<ul id="index-link">
  {{#active-link}}
    {{link-to "Index" "index"}}
  {{/active-link}}
</ul>
<ul id="other-link">
  {{#active-link}}
    {{link-to "Other" "other"}}
  {{/active-link}}
</ul>
